.tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.tabLabel:hover {
  cursor: pointer;
  color: #c17fea;
}
.tabLabel {
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.05em;

  color: #e8c2ff;
  text-align: center;
}
.selected {
  text-decoration: underline;
}

.headerBox {
  background: #182c39;
}

.appTitle {
  width: 300px;
  height: 107px;
  padding-left: 32px;

  font-family: "Rounded Mplus" 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 82px;
  letter-spacing: -0.05em;

  color: #96cc63;
}

.logo {
  width: 42.44px;
  height: 42.44px;
  padding-left: 10px;
  margin-top: 23px;
}

.authenticationButton {
  background-color: #96cc63;
  border-radius: 8px;
  border-color: #96cc63;
  color: #def9f1;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.signOutButton {
  background-color: #96cc63;
  border-radius: 8px;
  border-color: #96cc63;
  color: #def9f1;
  height: 30px;
  vertical-align: bottom;
  cursor: pointer;
}
